---
import BaseLayout from '../layout/BaseLayout.astro';
---

<BaseLayout title='About'>
  <h1 class='text-3xl mb-10'>About</h1>
  <p class='text-xl w-7/12'>
    I have always wanted to try using Astro in a project, so I decided to create
    a simple blog with integration with Sanity.io. Currently, Sanity.io is my
    preferred CMS. Alongside this, I also wanted to challenge myself by using
    Typescript, which I am currently learning. The aim of this project is to
    experiment with Astro and see how I can implement Sanity.io and Typescript
    into it.
  </p>
</BaseLayout>
