---
import BaseLayout from '../layout/BaseLayout.astro';
import PostCard from '../components/PostCard';
import { getPosts } from '../sanity/post';

const posts = await getPosts();
---

<BaseLayout title='Posts'>
  <h1 class='text-3xl mb-10'>Posts</h1>
  <ul>
    {
      posts.map((post) => (
        <PostCard title={post.title} summary={post.summary} />
      ))
    }
  </ul>
</BaseLayout>
