---
import type { InferGetStaticParamsType } from 'astro';
import { PortableText } from 'astro-portabletext';
import BaseLayout from '../../layout/BaseLayout.astro';

import { getPost, getPosts } from '../../sanity/post';

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<BaseLayout title={post.title!}>
  <h1>{post.title}</h1>
  <PortableText value={post.body} />
</BaseLayout>
